### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Ansible settings should be ignored.
.ansible

# VS Code settings should be ignored.
.vscode

# The AI Custom files should be ignored.
.github
