---
- name: "Setting git config"
  become: false
  community.general.git_config:
    scope: "{{ item.scope | default(omit) }}"
    repo: "{{ item.repo | default(omit) }}"
    name: "{{ item.name | default(omit) }}"
    value: "{{ item.value | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
  loop: "{{ config }}"
  register: "output"
