---
- name: "Copying the keepalived.conf file to the target"
  ansible.builtin.template:
    src: "keepalived.j2"
    dest: "/etc/keepalived/keepalived.conf"
    mode: "0640"
  notify: "Restarting and Enabling keepalived"
