---
- name: "Adding the password into the Secret Manager - '{{ password_id }}'"
  no_log: "{{ not debug | default(true) }}"
  ansible.builtin.command: "secret-tool store --label='{{ password_id }}' password {{ password_id }}"
  args:
    stdin: "{{ password }}"
    stdin_add_newline: false
  register: "output"
  changed_when: output.rc == 0
