---
- name: "Trying to retrieve the password in order to verify if already exists or it has changed - '{{ password_id }}'"
  ansible.builtin.include_role:
    name: "common"
    tasks_from: "debian/password/get.yml"

- name: "Adding the password into the Secret Manager - '{{ password_id }}'"
  become: false
  no_log: "{{ not debug | default(true) }}"
  ansible.builtin.command: "secret-tool store --label='{{ password_id }}' password {{ password_id }}"
  args:
    stdin: "{{ password }}"
    stdin_add_newline: false
  register: "output"
  changed_when: output.rc == 0
  when: (output.rc == 1 or output.stdout != password)
