---
- name: "Updating Homebrew package cache"
  become: false
  when: update_cache is defined and update_cache | bool
  community.general.homebrew:
    update_homebrew: true

- name: "Upgrading all system packages to the latest version"
  become: false
  when: upgrade is defined and upgrade | bool
  community.general.homebrew:
    upgrade_all: true

- name: "Installing, upgrading, or removing specified packages"
  become: false
  community.general.homebrew:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
  loop: "{{ packages }}"
  loop_control:
    label: "{{ item.name }}"
